In [1]:
import numpy as np
import pandas as pd
import sqlite3
import os

In [2]:
movies = pd.read_csv("ml-1m/movies.dat", 
                 sep="::", 
                 skiprows=0, 
                 names=['MovieID','Title','Genres'],
                 engine='python'                 
                )
users = pd.read_csv("ml-1m/users.dat", 
                 sep="::", 
                 skiprows=0, 
                 names=['UserID','Gender','Age','Occupation','ZipCode'],
                 engine='python'                 
                )
ratings = pd.read_csv("ml-1m/ratings.dat", 
                 sep="::", 
                 skiprows=0, 
                 names=['UserID','MovieID','Rating','Timestamp'],
                 engine='python'                 
                )

In [3]:
movies.head(3)

   MovieID                    Title                        Genres
0        1         Toy Story (1995)   Animation|Children's|Comedy
1        2           Jumanji (1995)  Adventure|Children's|Fantasy
2        3  Grumpier Old Men (1995)                Comedy|Romance

In [27]:
users.head(3)

   UserID Gender  Age  Occupation Zip_code
0       1      F    1          10    48067
1       2      M   56          16    70072
2       3      M   25          15    55117

In [32]:
ratings.head(3)

   UserID  MovieID  Rating  Timestamp
0       1     1193       5  978300760
1       1      661       3  978302109
2       1      914       3  978301968

In [17]:
movie_extracted = movies.Title.str.extract(r"\((\d{4})\)$", expand=True)
#movie_titles = movie_extracted[0]
movie_years = movie_extracted
movie_years.head()

      0
0  1995
1  1995
2  1995
3  1995
4  1995

In [19]:
movies["Year"] = movie_years.astype(int)
movies

,MovieID,Title,Genres,Year
0,1,Toy Story (1995),Animation|Children's|Comedy,1995
1,2,Jumanji (1995),Adventure|Children's|Fantasy,1995
2,3,Grumpier Old Men (1995),Comedy|Romance,1995
3,4,Waiting to Exhale (1995),Comedy|Drama,1995
4,5,Father of the Bride Part II (1995),Comedy,1995
5,6,Heat (1995),Action|Crime|Thriller,1995
6,7,Sabrina (1995),Comedy|Romance,1995
7,8,Tom and Huck (1995),Adventure|Children's,1995
8,9,Sudden Death (1995),Action,1995
9,10,GoldenEye (1995),Action|Adventure|Thriller,1995
10,11,"American President, The (1995)",Comedy|Drama|Romance,1995
11,12,Dracula: Dead and Loving It (1995),Comedy|Horror,1995
12,13,Balto (1995),Animation|Children's,1995
13,14,Nixon (1995),Drama,1995
14,15,Cutthroat Island (1995),Action|Adventure|Romance,1995
15,16,Casino (1995),Drama|Thriller,1995
16,17,Sense and Sensibility (1995),Drama|Romance,1995
17,18,Four Rooms (1995),Thriller,1995
18,19,Ace Ventura: When Nature Calls (1995),Comedy,1995
19,20,Money Train (1995),Action,1995
20,21,Get Shorty (1995),Action|Comedy|Drama,1995
21,22,Copycat (1995),Crime|Drama|Thriller,1995
22,23,Assassins (1995),Thriller,1995
23,24,Powder (1995),Drama|Sci-Fi,1995
24,25,Leaving Las Vegas (1995),Drama|Romance,1995
25,26,Othello (1995),Drama,1995
26,27,Now and Then (1995),Drama,1995
27,28,Persuasion (1995),Romance,1995
28,29,"City of Lost Children, The (1995)",Adventure|Sci-Fi,1995
29,30,Shanghai Triad (Yao a yao yao dao waipo qiao) ...,Drama,1995
...,...,...,...,...
3853,3923,Return of the Fly (1959),Horror|Sci-Fi,1959
3854,3924,Pajama Party (1964),Comedy,1964
3855,3925,Stranger Than Paradise (1984),Comedy,1984
3856,3926,Voyage to the Bottom of the Sea (1961),Adventure|Sci-Fi,1961
3857,3927,Fantastic Voyage (1966),Adventure|Sci-Fi,1966
3858,3928,Abbott and Costello Meet Frankenstein (1948),Comedy|Horror,1948
3859,3929,"Bank Dick, The (1940)",Comedy,1940
3860,3930,"Creature From the Black Lagoon, The (1954)",Horror,1954
3861,3931,"Giant Gila Monster, The (1959)",Horror|Sci-Fi,1959
3862,3932,"Invisible Man, The (1933)",Horror|Sci-Fi,1933
3863,3933,"Killer Shrews, The (1959)",Horror|Sci-Fi,1959
3864,3934,Kronos (1957),Sci-Fi,1957
3865,3935,Kronos (1973),Horror,1973
3866,3936,"Phantom of the Opera, The (1943)",Drama|Thriller,1943
3867,3937,Runaway (1984),Sci-Fi|Thriller,1984
3868,3938,"Slumber Party Massacre, The (1982)",Horror,1982
3869,3939,"Slumber Party Massacre II, The (1987)",Horror,1987
3870,3940,"Slumber Party Massacre III, The (1990)",Horror,1990
3871,3941,Sorority House Massacre (1986),Horror,1986
3872,3942,Sorority House Massacre II (1990),Horror,1990
3873,3943,Bamboozled (2000),Comedy,2000
3874,3944,Bootmen (2000),Comedy|Drama,2000
3875,3945,Digimon: The Movie (2000),Adventure|Animation|Children's,2000
3876,3946,Get Carter (2000),Action|Drama|Thriller,2000
3877,3947,Get Carter (1971),Thriller,1971
3878,3948,Meet the Parents (2000),Comedy,2000
3879,3949,Requiem for a Dream (2000),Drama,2000
3880,3950,Tigerland (2000),Drama,2000
3881,3951,Two Family House (2000),Drama,2000
3882,3952,"Contender, The (2000)",Drama|Thriller,2000

In [49]:
len(movies)

3883

In [51]:
movies["Years"] = movie_years

In [54]:
movies.groupby("Years").size()

Years
1919      3
1920      2
1921      1
1922      2
1923      3
1925      6
1926      8
1927      6
1928      3
1929      3
1930      7
1931      7
1932      7
1933      7
1934      7
1935      6
1936      8
1937     11
1938      6
1939     11
1940     19
1941     11
1942     13
1943     10
1944     13
1945     11
1946     13
1947     14
1948     12
1949     10
       ...
1971     26
1972     22
1973     29
1974     28
1975     21
1976     21
1977     22
1978     30
1979     32
1980     41
1981     43
1982     50
1983     35
1984     60
1985     65
1986    104
1987     71
1988     69
1989     60
1990     77
1991     60
1992    102
1993    165
1994    257
1995    342
1996    345
1997    315
1998    337
1999    283
2000    156
Length: 81, dtype: int64

In [70]:
tabela = users.groupby(["Age","Gender"]).size().reset_index()
tabela.columns = ["Age","Gender","Count"]
tabela

    Age Gender  Count
0     1      F     78
1     1      M    144
2    18      F    298
3    18      M    805
4    25      F    558
5    25      M   1538
6    35      F    338
7    35      M    855
8    45      F    189
9    45      M    361
10   50      F    146
11   50      M    350
12   56      F    102
13   56      M    278

In [71]:
tabela.pivot("Age","Gender","Count")

Gender    F     M
Age
1        78   144
18      298   805
25      558  1538
35      338   855
45      189   361
50      146   350
56      102   278

In [62]:
pd.crosstab(users.Age, users.Gender)

Gender    F     M
Age
1        78   144
18      298   805
25      558  1538
35      338   855
45      189   361
50      146   350
56      102   278

In [72]:
movies.head()

,MovieID,Title,Genres,Years
0,1,Toy Story (1995),Animation|Children's|Comedy,1995
1,2,Jumanji (1995),Adventure|Children's|Fantasy,1995
2,3,Grumpier Old Men (1995),Comedy|Romance,1995
3,4,Waiting to Exhale (1995),Comedy|Drama,1995
4,5,Father of the Bride Part II (1995),Comedy,1995

In [94]:
movie_genres=set(
    movies.Genres.str.split("|").values.sum()
)
movie_genres

{'Action',
 'Adventure',
 'Animation',
 "Children's",
 'Comedy',
 'Crime',
 'Documentary',
 'Drama',
 'Fantasy',
 'Film-Noir',
 'Horror',
 'Musical',
 'Mystery',
 'Romance',
 'Sci-Fi',
 'Thriller',
 'War',
 'Western'}

In [98]:
func = lambda x: [genre in x for genre in movie_genres])

In [96]:
movies.Genres.head()

0     Animation|Children's|Comedy
1    Adventure|Children's|Fantasy
2                  Comedy|Romance
3                    Comedy|Drama
4                          Comedy
Name: Genres, dtype: object

In [99]:
func("Adventure|Children's|Fantasy")

3

In [21]:
movies.Genres.str.split("|", expand=True)

              0           1           2     3     4     5
0     Animation  Children's      Comedy  None  None  None
1     Adventure  Children's     Fantasy  None  None  None
2        Comedy     Romance        None  None  None  None
3        Comedy       Drama        None  None  None  None
4        Comedy        None        None  None  None  None
5        Action       Crime    Thriller  None  None  None
6        Comedy     Romance        None  None  None  None
7     Adventure  Children's        None  None  None  None
8        Action        None        None  None  None  None
9        Action   Adventure    Thriller  None  None  None
10       Comedy       Drama     Romance  None  None  None
11       Comedy      Horror        None  None  None  None
12    Animation  Children's        None  None  None  None
13        Drama        None        None  None  None  None
14       Action   Adventure     Romance  None  None  None
15        Drama    Thriller        None  None  None  None
16        Drama     Romance        None  None  None  None
17     Thriller        None        None  None  None  None
18       Comedy        None        None  None  None  None
19       Action        None        None  None  None  None
20       Action      Comedy       Drama  None  None  None
21        Crime       Drama    Thriller  None  None  None
22     Thriller        None        None  None  None  None
23        Drama      Sci-Fi        None  None  None  None
24        Drama     Romance        None  None  None  None
25        Drama        None        None  None  None  None
26        Drama        None        None  None  None  None
27      Romance        None        None  None  None  None
28    Adventure      Sci-Fi        None  None  None  None
29        Drama        None        None  None  None  None
...         ...         ...         ...   ...   ...   ...
3853     Horror      Sci-Fi        None  None  None  None
3854     Comedy        None        None  None  None  None
3855     Comedy        None        None  None  None  None
3856  Adventure      Sci-Fi        None  None  None  None
3857  Adventure      Sci-Fi        None  None  None  None
3858     Comedy      Horror        None  None  None  None
3859     Comedy        None        None  None  None  None
3860     Horror        None        None  None  None  None
3861     Horror      Sci-Fi        None  None  None  None
3862     Horror      Sci-Fi        None  None  None  None
3863     Horror      Sci-Fi        None  None  None  None
3864     Sci-Fi        None        None  None  None  None
3865     Horror        None        None  None  None  None
3866      Drama    Thriller        None  None  None  None
3867     Sci-Fi    Thriller        None  None  None  None
3868     Horror        None        None  None  None  None
3869     Horror        None        None  None  None  None
3870     Horror        None        None  None  None  None
3871     Horror        None        None  None  None  None
3872     Horror        None        None  None  None  None
3873     Comedy        None        None  None  None  None
3874     Comedy       Drama        None  None  None  None
3875  Adventure   Animation  Children's  None  None  None
3876     Action       Drama    Thriller  None  None  None
3877   Thriller        None        None  None  None  None
3878     Comedy        None        None  None  None  None
3879      Drama        None        None  None  None  None
3880      Drama        None        None  None  None  None
3881      Drama        None        None  None  None  None
3882      Drama    Thriller        None  None  None  None

[3883 rows x 6 columns]

In [22]:
movies.Genres.str.split("|", expand=True).values.flatten()

array(['Animation', "Children's", 'Comedy', ..., None, None, None],
      dtype=object)

In [25]:
pd.Series(movies.Genres.str.split("|", expand=True).values.flatten()).value_counts()

Drama          1603
Comedy         1200
Action          503
Thriller        492
Romance         471
Horror          343
Adventure       283
Sci-Fi          276
Children's      251
Crime           211
War             143
Documentary     127
Musical         114
Mystery         106
Animation       105
Fantasy          68
Western          68
Film-Noir        44
dtype: int64

In [26]:
ratings.head()

   UserID  MovieID  Rating  Timestamp
0       1     1193       5  978300760
1       1      661       3  978302109
2       1      914       3  978301968
3       1     3408       4  978300275
4       1     2355       5  978824291

In [27]:
movies.head()

,MovieID,Title,Genres,Year
0,1,Toy Story (1995),Animation|Children's|Comedy,1995
1,2,Jumanji (1995),Adventure|Children's|Fantasy,1995
2,3,Grumpier Old Men (1995),Comedy|Romance,1995
3,4,Waiting to Exhale (1995),Comedy|Drama,1995
4,5,Father of the Bride Part II (1995),Comedy,1995

In [41]:
result = pd.merge(ratings,movies, on="MovieID")[["Title","Rating"]]
result.groupby("Title").mean().sort_values(by="Rating",ascending=False).head(14)

                                             Rating
Title
Ulysses (Ulisse) (1954)                    5.000000
Lured (1947)                               5.000000
Follow the Bitch (1998)                    5.000000
Bittersweet Motel (2000)                   5.000000
Song of Freedom (1936)                     5.000000
One Little Indian (1973)                   5.000000
Smashing Time (1967)                       5.000000
Schlafes Bruder (Brother of Sleep) (1995)  5.000000
Gate of Heavenly Peace, The (1995)         5.000000
Baby, The (1973)                           5.000000
I Am Cuba (Soy Cuba/Ya Kuba) (1964)        4.800000
Lamerica (1994)                            4.750000
Apple, The (Sib) (1998)                    4.666667
Sanjuro (1962)                             4.608696