In [1]:
import io, os.path, re
import requests, urllib, json
import numpy as np
import pandas as pd

In [2]:
f = requests.get("https://httpbin.org/ip")
f.status_code

200

In [5]:
f.text

'{"origin":"212.180.211.150"}\n'

In [9]:
j = json.loads(f.text)
j['origin']

'212.180.211.150'

In [18]:
def ciekawostkaMat(typ, liczba, liczba2=None):
    link = "http://numbersapi.com/"
    
    if typ == "date":
        
        if liczba2:
            link += str(liczba2) + "/"
        link +=  str(liczba) + "/date"
        
    else:
        link +=  str(liczba) 

    f = requests.get(link)
    return f.text

ciekawostkaMat("random", 5)

'5 is the number of Justices on the Supreme Court of the United States necessary to render a majority decision.'

In [28]:
def ciekawostkaMat(typ, liczba, liczba2=None):
    
    if typ not in ["date", "math", "trivia", "year"]:
        raise ValueErrot("zly typ")
    if liczba2 is None:
        f = requests.get(f"http://numbersapi.com/{liczba}/{typ}")
    if liczba2 is not None and typ == "date":
        f = requests.get(f"http://numbersapi.com/{liczba2}/{liczba}/{typ}")
    
    raise ValueError('zly typ')

    return f.text

ciekawostkaMat("trivia",12,5)

ValueError: zly typ

In [22]:
from pprint import pprint

def ciekawostkaMatJSON(typ, liczba, liczba2=None):
    link = "http://numbersapi.com/"
    
    if typ == "date":
        
        if liczba2:
            link += str(liczba2) + "/"
        link +=  str(liczba) + "/date"
        
    else:
        link +=  str(liczba) 
        
    link +=  "?json"
    f = requests.get(link)
    j = json.loads(f.text)
    # pprint(j)
    return j["text"]

ciekawostkaMatJSON("random", 5)

{'found': True,
 'number': 5,
 'text': '5 is the number of Justices on the Supreme Court of the United '
         'States necessary to render a majority decision.',
 'type': 'trivia'}

'5 is the number of Justices on the Supreme Court of the United States necessary to render a majority decision.'

In [46]:
def masoweCiekawostkiMatematyczne(typ, liczba_start, liczba_koniec):
    
    f = requests.get(f"http://numbersapi.com/{liczba_start}..{liczba_koniec}/{typ}")
    j = json.loads(f.text)
    df = pd.DataFrame.from_dict(j, orient="index")
    df.columns = ["ciekawostka"]
    df.index.name = ["liczba"]
       
    return df

masoweCiekawostkiMatematyczne("date", 66, 70)

                                              ciekawostka
[date]
66      March 6th is the day in 1946 that Ho Chi Minh ...
67      March 7th is the day in 161 that Emperor Anton...
68      March 8th is the day in 1936 that Daytona Beac...
69      March 9th is the day in 1910 that the Westmore...
70      March 10th is the day in 1735 that an agreemen...